body {
    background-color: rgba(241, 239, 255, 0.342);
    padding-left: 20px  ;
    padding-right: 20px;
}

.col {
    background-color: rgb(255, 199, 15);
}


.col-md-5 {
    

   
 
    
}    



.col-md-4 {
    
    height: 85vh;
  
    padding-left:0px ;
    
}

#principal {
    margin-top: 7vh;
    padding:0px ;
    
    
}
#box {
    background-color: white;
    width: 339px;
    height: 325px;
    padding-top: 0px;
    margin-top: 120px;
    border-style: solid;
    border-color: rgb(192, 198, 204);
    border-width: 1px;
    max-width: 100%;
  
    
    
}



#cell {
    height: 100%;
    width: 100% ;
    margin-left:10%;
    margin-top: -5px;
   
   
}

#nome{
    width:100%;
    margin: 0px;
    
}

#logo {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 0px;
    
    margin-top: -5px;
}

#perfil

{
    width:100px;
    margin-left: 33%;
}

#foto {
    margin-top: 5px;    
    padding:0px;    
}

button {
    margin-top: 10px;
    margin-left: 25px;
}

a:link {  
    color:  rgb(19, 117, 216);
    text-decoration: none;
}

#footer {
    margin-top: 5%;
    margin-left:10px;

}